@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Pirata_One';
	src: url(../fonts/Pirata_One/PirataOne-Regular.ttf);
}

.body {
	font-family: 'Roboto', sans-serif;	
}
.container {
	width: 99vw; /* makes sure that the "container" div is stretched to the left and right edges of our web browser */
	height: auto;
	position: relative;
	overflow: hidden;
}

section {
	position: relative; /* This is needed so that all of our CSS positionings will work within all of our sections */
}

/* Typography */

/* For Headers/Titles */
h1 {
	font-size: 4em;
	color: #EBAF1E;
	font-family: 'Pirata One';
	letter-spacing: 2px;
}

/* For Subheaders */
h2 {
	font-size: 2em;
	font-family: 'Pirata One';
	letter-spacing: 2px;
	color:#353083;
}

.Announcements {
	color:#EBAF1E
}

h3 {
	font-size: 30px;
}

/* For Captions */
h4 {
	font-family: 'Roboto';
	font-size: 1em;
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
}

/* Navigation Bar */
.logo_container {
	margin-left: 20px;
}

.logo{
	font-size: 1.5em;
	font-family: 'Pirata One';
	letter-spacing: 2px;
	color:#EBAF1E;

}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 40px;
	background: #353083;
	position:static; /* Here, we use fixed positioning so that our nav bar always stays on top of the page */
	z-index: 99; /* having a z-index larger than 0 ensures that our nav bar is on top of other content on the page */
	padding: 20px;
	width: 98vw;
}

nav {
	display: flex;
	justify-content: start;
	align-items: center;	
	margin-right: 40px;
	font-size: 1.3em;
	gap: 20px;
}

a {
	font-family: 'Roboto';
	font-size: 14pt;
	color: white;
	text-decoration: none; /* removes the underline and blue color of our text links */
}

a:hover {
	color: #EBAF1E;
}


/* Buttons */
.action-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	font-size: 14pt;
}

.action-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	background-color: #EBAF1E;
	color: #353083;
	font-size: 14pt;
	font-weight: bold;
	cursor: pointer;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-left: 30px solid #EBAF1E;
	cursor: pointer;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 	
	border-right: 30px solid #EBAF1E; 
	cursor: pointer;
}

.action-button-container:hover .action-button {
	background-color: #DBA011;	
	color: #6C1F5F;
}

.action-button-container:hover .arrow-left {
	border-right: 30px solid #DBA011;
}

.action-button-container:hover .arrow-right {
	border-left: 30px solid #DBA011;
}


  /* Footer */
.footer {			
	width: 100vw;
	height: auto;
	background: #6C1F5F;	
}

.footer_wrapper {	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1000px;
	padding: 30px 20px 20px 20px;
	margin: 0 auto;	
	gap: 50px;
	
}

.footer_container { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer_logo_container {
	display: flex;
	flex-direction: column;
	align-items: center;	
	gap: 20px;
}

.footer_logo {	
	font-family: 'Roboto';
	color: #EBAF1E;
	font-size: 16px;	
	color: #EBAF1E;
	font-family: 'Pirata One';
	letter-spacing: 2px;
}

.footer_logo_social-media {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.footer_logo_social-media img {
	width: 35px;
}

.footer_logo_social-media img:hover {
	cursor: pointer;
}

.footer_copyright {
	border-top: 1px solid white;	
	text-align: center;
	color: white;
	font-size: 12px;
}

.footer_copyright p {
	font-family: 'Roboto';
	margin-top: 20px;
}

.footer_menu {	
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.footer_menu div a {
	font-family: 'Roboto';
	font-size: 16px;
	color: white;	
}

.footer_menu div a:hover {
	color: #EBAF1E;
}