
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Pirata_One';
	src: url(../fonts/Pirata_One/PirataOne-Regular.ttf);
}

.programs { /* this is the hero image area */
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* makes sure that this section stretches to the entire width of the web browser */
	height: 400px; /* same idea but for the vertical height of the web browser */
	background-color: #6C1F5F;
	background-image: url(..//images/programs.png);
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
}

.programs_content {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.one {
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 1000px;
	height: 70vh;
	padding-top: 50px;
	background: red;
	margin: auto; /* makes sure that the section is centered on the page */
	background-image: url(../images/Background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.one_content {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
	width: 700px;
	gap: 20px;
}

.one_content p.one_content_first {
	font-size: 16pt;
	font-weight: bold;
	line-height: 1.1;
	font-family: 'Roboto';
}

.one_content p {
	font-size: 16pt;
	line-height: 1.1;
	font-family: 'Roboto';
}

.one .action-button-container {
    margin-top: 50px;
}

.one .beer_logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.beer_logo img {
	width: 300px;
	height: auto;
	position: relative;
}

.beer_logo .beer_logo_banner {
	position: absolute;
	top: 220px;
}

.beer_logo_banner .beer_logo_text {
	position: absolute;
	top: 0;
	left: -250px;	
	background-color: #6C1F5F;
	padding: 20px;
	width: 450px;	
	z-index: 10;
}

.beer_logo_banner .flag-right {
	position: absolute;	
	top: 30px;
	right: -400px;	
}

.beer_logo_banner .flag-left {
	position: absolute;
	top: 30px;
	left: -400px;
}

.beer_logo_banner .beer_logo_text h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EBAF1E;
}

.beer_logo .flag-right img,
.beer_logo .flag-left img {
	width: 200px;
	height: auto;
}

.two {	
	width: 1000px;
	height: 70vh;
	background: #353083;
	margin: auto;
}

.light {
    background-color: #F5F5F5;
}

.two_container {
	display: flex;
	flex-direction: column;
	gap: 100px;
	padding: 60px 50px 50px 50px;
}

.two_announcement-text {
	font-size: 30;
	text-align: center;
	width: 890px;
	color: #EBAF1E;
	text-align: center;
	font-family: 'Roboto';
}

.two_announcement {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* justify-content: space-evenly;		 */
	gap: 50px;
}

.two_announcement img {
	width: 350px;
	height: 350px;
}

.two_announcement_content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 50px;
}

.two_announcement_content .action-button-container {
	margin-top: 70px;
	
}

.two_announcement h2 {
	color: #EBAF1E;
	text-align: center;
	font-family: 'Pirata_One';
	font-size: 30pt;
	margin-bottom: 30px;
}

.two_announcement p {
	color: white;
	font-size: 14pt;
	font-family: 'Roboto';
	line-height: 1.1;
}

h2.purple {
	color: #6C1F5F;
	font-family: 'Pirata_One';
}

p.notes {
	color: black;
}

span.gold {
	color:#EBAF1E;
}

span.purple {
	color: #6C1F5F;
}